/*  Reset ♥
    http://meyerweb.com/eric/tools/css/reset/
    v2.0 | 20110126
    License: none (public domain)
------------------------------------------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  font-size:100%;
  font:inherit;
  vertical-align:baseline;
  }
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display:block;
  }
body { line-height:1; }
ol, ul { list-style:none;  }
blockquote, q { quotes:none; }
blockquote:before, blockquote:after,
q:before, q:after { content:''; content:none; }
/* tables still need 'cellspacing="0"' in the markup */
table { border-collapse: collapse; border-spacing:0; }
/* remember to define focus styles. Hee Haw */
:focus { outline:0; }
/*------------------------------------------------------- */
/*********************** GLOBAL ***********************/
@font-face {
    font-family: 'bebas_neueregular';
    src: url('fonts/BedasNeue/BebasNeue-webfont.eot');
    src: url('fonts/BedasNeue/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/BedasNeue/BebasNeue-webfont.woff') format('woff'),
         url('fonts/BedasNeue/BebasNeue-webfont.ttf') format('truetype'),
         url('fonts/BedasNeue/BebasNeue-webfont.svg#bebas_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
html{
  height:100%
}
body{
  height:100%;
  margin:0;
  padding:0;
  background:#207278;
}
h1{
  font-size:44px;
  font-family: bebas_neueregular;
  color:#207278;
}
h3{
  font-family:bebas_neueregular;
  color:#207278;
  font-size:23px;
}
h5{
  font-family:'Lato',sans-serif;
  font-size:16px;
  color:#125055;
  font-weight:bold;
  padding-top:17px;
}
a{
  text-decoration: none;
  cursor:pointer;
}
p,li{
   font-family:'Lato', sans-serif;
   color:#125055;
   font-size:13px;
   line-height:16px;
}
.container{
  width:1024px;
  margin:0 auto;
  position:relative;
}
/*********************** HEADER ***********************/
#header{
  height:150px;
  text-align:center;
}
#logo{
  position:absolute;
  top:20px;
  left:20px;
  z-index:3;
}
#slideshow, #slideshow a, #slideshow img.bg, #slideshow canvas{
  width:100%;
  height:150px;
  position:absolute;
  left:0;
  top:0;
  display:block;
  z-index:0;
}
#slideshow img{
  height:150px;
  width:1024px;
  margin:0 auto;
  z-index:2;
  position:relative;
}
#slideshow a.active{z-index:3}
#slideshow a div{
  position:absolute;
  z-index:3;
  margin:0 auto;
  width:1024px;
  left:0;
  right:40px;
  text-align:right;
  color:#ffffff;
  font-family:'Lato', sans-serif;
  text-transform:uppercase;
  font-size:12px;
  top:125px;
  font-weight:bold;
}
/*********************** menu ***********************/
#menu{
  height:30px;
  background:#f26522;
  position:absolute;
  box-shadow:-1px 5px 16px 0px rgba(96,47,0,0.3);
  z-index:2;
  right: 0;
  left: 0;
}
#menu-list{
  padding:0 0 0 220px;
}
#menu-list li{
  margin:0 0 0 10px;
  list-style-type:none;
  float:left;
  font-family:'Lato', sans-serif;
  font-weight:bold;
  text-transform:uppercase;
  letter-spacing:2px;
  font-size:13px;
  padding:0 7px;
  line-height:30px;
}
#menu-list li a{
  color:#fae287;
}
/*********************** HEADLINE ***********************/
.headline{
  position:absolute;
  background-repeat: no-repeat;
  z-index:1;
  pointer-events:none;
  top:-470px;
  -webkit-backface-visibility:hidden;
  -webkit-transition:translate3d(0,0,0);
  -webkit-transition:top .25s;
  transition:top .25s;
}
.headline.active{
  -webkit-transition:top .25s;
  transition:top .25s;
  top:0px;
}
.headline.about{
  background-image:url('../img/headline_left.png');
  width:733px;
  height:474px;
  display:block;
}
.headline.membership{
  background-image:url('../img/headline_center.png');
  height:470px;
  width:951px;
  margin-top:-1px;
  right:0;
  left:0;
  margin:0 auto;
}
.headline.contact{
  background-image:url('../img/headline_right.png');
  width:770px;
  height:469px;
  right:0;
}
.headline.directory,
.headline.events{
  background-image:url('../img/directory_bg.jpg');
  top:0px;
  height:100%;
  -webkit-box-shadow:3px 4px 24px 0px rgba(0, 0, 0, 0.86);
  -moz-box-shadow:3px 4px 24px 0px rgba(0, 0, 0, 0.86);
  box-shadow:3px 4px 24px 0px rgba(0, 0, 0, 0.86);
  text-align:center;
  pointer-events:auto;
   -webkit-transition:left .25s;
  transition:left .25s;
}
.headline.directory{
  background-repeat:repeat-y;
  width:445px;
  left:-465px;
}
.headline.directory.active,
.headline.events.active{
  -webkit-transition:left .25s;
  transition:left .25s;
  left:24px;
}
.headline.events{
  background-repeat:repeat;
  width:747px;
  left:-770px;
}
.headline-interior{
  text-align:center;
  width:407px;
  pointer-events:auto;
}
.headline.about .headline-interior{
  margin-left:48px;
}
.headline.contact .headline-interior{
  margin-left:350px;
  text-align:left;
}
.headline.membership .headline-interior,
.headline.membership .explore-form{
  margin:0 auto;
  padding-right:30px;
  right:0;
  left:0;
}
.explore-form{
  position:absolute;
  top:306px;
  width:130px;
}
.headline.about .explore-form{
  left:178px;
}
.explore-form h3{
  text-align:center;
  padding:5px 0px;
}
.headline h1{
  margin-top:65px;
}
.headline.directory h1,
.headline.events h1{
  margin-right:auto;
  margin-left:auto;
  border-bottom:solid 2px;
  width: 348px;
  padding-bottom:12px;
}
.headline.events h1{
  width:300px;
}
.headline-interior p{
  padding:17px 0px;
}
.headline-interior .contact{
  color:#f26522;
  text-decoration:underline;
}
/*********************** MAIN ***********************/
.main{
  height:100%;
  top:30px;
  overflow:hidden;
}
#map-canvas{
  height:100%;
}
/*********************** MAP ***********************/
.marker-label-labelled{
  font-family:arial;
  font-size:18px;
  z-index:999999;
}
.marker-label-selected{
  font-family:arial;
  font-size:18px;
  z-index:999999;
  pointer-events:none;
}
.marker-container{
  background:url('../img/infowindow.png') no-repeat;
  width:370px;
  height:255px;
  padding:35px 35px;
  pointer-events:none;
  padding-top:30px;
}
.marker-container > img{
  pointer-events:auto;
}
.marker-content{
  pointer-events:auto;
}
.marker-details{
  width:195px;
  float:left;
  height:225px;
}
.marker-details .site-container{
  margin-bottom:24px;
}
.hours{
  position:absolute;
  left:110px;
}
p.description{
  font-size:12px;
  overflow:hidden;
  text-overflow:ellipsis;
  width:210px;
}
.marker-details.right{
  padding-left:24px;
  height:195px;
  margin-top:30px;
  border-left: solid 1px;
  border-color: #125055;
}
/*********************** FOOTER ***********************/
#footer{
  background:#fbb040;
  width:100%;
  overflow:hidden;
  margin:-30px 0 0 0;
  height:60px;
  position:absolute;
  box-shadow:-1px -5px 16px 0px rgba(96,47,0,0.3);
  z-index:1;
}
#footer *{
  color:#7b2b1b;
  font-family:'PT Sans Caption', sans-serif;
}
#footer .container{
  margin-top:22px;
}
#footer li{
  float:left;
  padding:0 2px;
  font-size:12px;
}
#footer li:before{
  content:"|";
  margin-right:6px;
  font-size:16px;
}
#footer li:first-child{
  font-weight:bold;
  margin-left:67px;
}
#footer li:first-child:before{
  content:"";
}
#footer #zd{
  text-transform:uppercase;
  float:right;
  font-size:12px;
  background-image:url('../img/zd.png');
  width: 100px;
  background-repeat: no-repeat;
  height: 15px;
  margin-right:59px;
}
#footer #zd:before{
  content: "site by";
  margin-left: -50px;
  line-height: 20px;
}
/*********************** DIRECTORY & EVENTS ***********************/
.scroll-container{
  overflow: hidden;
  width:100%;
  background:rgba(234,163,50,.26);
  height: 100%;
}
.list{
  overflow-y:scroll;
  overflow-x:hidden;
}
.info,
.photo,
.desc{
  float:left;
}
.photo{
  width:145px;
  height:148px;
  cursor:pointer;
}
.list > li{
  height:148px;
  padding-bottom:12px;
  display:none;
}
.list > li.show{
  opacity:0;
  display:block
}
.info{
  width:224px;
}
.info,.desc{
  padding-top:28px;
  height:120px;
  text-align:left;
  margin-left:35px;
  border-bottom:solid 1px;
}
.info li:first-child .label,
.categories a.selected,
.list > li.selected .info li:first-child,
.marker-details li:first-child{
  color:#f95304;
}
.info li:first-child .label{
  float:left;
  width:30px;
  margin-left:-34px;
  text-align:right;
}
.info li,
.desc,
.marker-details li{
  font-size:12px;
}
.info li:first-child,
.marker-details li:first-child{
  text-transform:uppercase;
  font-size:14px;
  padding-bottom:14px;
  overflow:visible;
}
.info li:first-child{
  white-space:normal;
}
.info li, .marker-details li{
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}
.site{
  text-decoration:underline;
  color:#125055;
}
.event-hours{
  color:#125055;
  text-decoration:underline;
}
/*********************** DIRECTORY ***********************/
.directory-cat{
  width:348px;
  overflow:hidden;
  text-align:left;
  margin:0 auto;
  padding:20px 0;
}
.directory-cat li{
  text-transform: uppercase;
  width:50%;
  float:left;
  display:inline;
  font-size:11px;
  font-weight: 600;
  padding:2px 0px;
}
.directory-list .info li:first-child{
  cursor:pointer;
}
/*********************** EVENTS ***********************/
.events-cat{
  width:300px;
  overflow:hidden;
  text-align:left;
  margin:0 auto;
  padding:20px 0;
}
.events-cat li{
  text-transform:uppercase;
  width:25%;
  float:left;
  display:inline;
  font-size:11px;
  font-weight:600;
  padding:2px 0px;
}
.events-photo{
  width:156px;
  height:132px;
  cursor:pointer;
}
.events .info li:first-child{
  padding-bottom:0;
  white-space:nowrap;
  width: 550px;
  overflow: hidden;
}
.events .date{
  color:#e54e32;
  padding-bottom:13px;
  text-transform:capitalize;
}
.desc{
 width: 300px;
 padding-left:15px;
 margin-left:0;
 padding-top: 73px;
 height: 75px;
}
li.extend{
  overflow:visible;
}
